body
{
    background-color:#e21c21;
}
nav{

}
header { 
    margin-left: 2em;
    display:grid;
    grid-template-columns: auto auto;
}

footer {
    text-align:center;
    font-size:.8em;
}
aside {
    margin-top: auto;
    margin-bottom:auto;
    margin-left: 2em;
    text-align:center;
}
.menu {
    height: 126px;
    display: grid;
    grid-template-columns: auto auto;    
    background-color:hsl(358, 77%, 46%);
/*    background-color: yellow;*/
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    width: inherit;
}
.logo {
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 3em;
}
.logo img {
    max-height: 78px;
    width:100%;
    max-width: 451px;
}
.menuOptions {
/*    display: inline-flex;*/
    margin-top:auto;
    margin-bottom:auto;
/*    margin-right: auto;*/
    text-align: left;
}
.menuOptions a {
    padding-right: 10px;
    padding-left: 10px;
    color:#ffffff;
    text-decoration:none;
}
.title {
    text-transform:uppercase;
    font-size:133px;
    line-height: 0.9em;
}

.allCaps {
    text-transform:uppercase;
}
.list {
    text-transform:capitalize;
    min-width:16em;
/*    color:#e21c21;*/

}
.lower {
    text-transform:lowercase;
}
.wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.wrapper article {
    max-width: 250px;
    margin: 0 1em;
}


/*small devices*/
@media(max-width: 640px) {
    header {
        display:block;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        font-size: 1.3em;
    }
    
    footer {
        margin-top: 1.5em;
    }
    .menu {
        display: block;
        background-color: green;
    }
    .logo {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
/*        margin-top: 15em;*/
        padding-top: 1em;
        padding-bottom: .5em;
    }
    .menuOptions {
/*        margin-left:auto;
        margin-right:auto;dd*/
        text-align:center;
        font-size: 1.3em;
    }
    .wrapper {
        display: block;
        margin-left: .5em;
        margin-right: .5em;
    }
    .wrapper article {
        max-width: 100%;
        font-size: 1.3em;
    }
    .title {
        font-size: 100px;
    }
    section h2 {
        text-align: center;
    }
    
}
@media(max-width:1006px){
    .wrapper section {
/*        min-width: 300px;*/
    }
}
/*medium devices*/
@media(min-width: 1007px) {
    header {
        display: block;
        text-align: center;
/*        margin-right: auto;
        margin-left: auto;*/
    }
    header h1 {
        margin-right: auto;
        margin-left: auto;
    }
    .logo {
        margin-right: auto;
        margin-left: auto;
        margin-top: 1em;
    }
    .menu {
        margin-top: -15px;
        background-color: yellow;
    }
    
}