body
{
    background-color:#e21c21;
}
nav{

}
header { 
    margin-left: 2em;
/*    display:grid;
    grid-template-columns: auto auto;*/
    display:flex;
}

footer {
    text-align:center;
    font-size:.8em;
}
aside {
    margin-top: auto;
    margin-bottom:auto;
    margin-left: 2em;
    text-align:center;
}
.menu {
    height: 126px;
    display: grid;
    grid-template-columns: auto auto;    
    background-color:hsl(358, 77%, 46%);
/*    background-color: yellow;*/
/*    margin-left: -15px;
    margin-right: -15px;*/
/*    width: 100%;*/
    width: 100vw;
    margin-top: -15px;
/*    width: inherit;*/
}
.menu nav {
    margin-top:auto;
    margin-bottom: auto;
    display: flex;
    margin-right: auto;
}
.logo {
    margin-top:auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    max-height: 78px;
    width:100%;
    max-width: 451px;
}
/*.logo img {
    
}*/
.menuOptions {
    display: flex;
    margin-top:auto;
    margin-bottom:auto;
    
    margin-left: auto;
    text-align: left;
}
.menuOptions a {
    padding-right: 10px;
    padding-left: 10px;
    color:#ffffff;
    text-decoration:none;
}
.title {
    text-transform:uppercase;
    font-size:133px;
    line-height: 0.9em;
}
.title span {
    color: #ffffff;
    animation-name: h1Span;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.allCaps {
    text-transform:uppercase;
}
.list {
    text-transform:capitalize;
    min-width:16em;
/*    color:#e21c21;*/

}
.lower {
    text-transform:lowercase;
}
.wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.wrapper article {
    max-width: 250px;
    margin: 0 1em;
}
.aboutImgContainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 5px;
    margin-top: 1em;
}
.aboutImgContainer img {
    width: 100%;
    animation-name: aboutImg;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.aboutImg2 {
    animation-delay: 1s;
}
.aboutImg3 {
    animation-delay: 2s;
}
.videoBox {
/*    position: fixed;*/
    width:100%;
    height: 100%;
}
.space {
    width:100px;
    height: 100px;
    border: 1px solid black;
}

/*small devices*/
@media(max-width: 700px) {
    nav {
/*        text-align:center;*/
        margin-right:auto;
        margin-left: auto;
    }
    header {
        display: block;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    h1 {
        font-size-adjust:.4;
    }
    section h2 {
        text-align: center;
    }
    aside {
        font-size: 1.5em;
        text-align: center;
        margin-left: 0;
    }
    
    footer {
        margin-top: 1.5em;
    }
    .menu {
        display: block;
/*        background-color: green;*/
/*        padding-left:2em;*/
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }
/*    .menu nav {
        margin-right: 0;
        margin-left: 0;
    }*/
    .logo {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
/*        margin-top: 15em;*/
        padding-top: 1em;
        padding-bottom: .5em;
    }
        .logo img{

        }

    .menuOptions {
        text-align:center;
        font-size: 1.2em;
        margin-left: 0;
        /*margin-right: auto;*/
    }
    .wrapper {
        display: block;
        margin-left: .5em;
        margin-right: .5em;
    }
    .wrapper article {
        max-width: 100%;
        font-size: 1.3em;
    }
    .title {
        font-size: 100px;
    }
    .menuOptions {
        text-align: center;
    }
    
    .aboutImgContainer {
        display: block;
    }
    .aboutImg {
        width: 97%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3px;
    }
    
}
@media(max-width:1006px){
    .wrapper section {
/*        width: 300px;*/
    }
    .menu {
        display: block;
        /*        background-color: green;*/
        /*        padding-left:2em;*/
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }
    /*    .menu nav {
        margin-right: 0;
        margin-left: 0;
    }*/
    .logo {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        /*        margin-top: 15em;*/
        padding-top: 1em;
        padding-bottom: .5em;
    }

        .logo img {
        }

    .menuOptions {
        text-align: center;
        font-size: 1.2em;
        margin-left: 0;
        /*margin-right: auto;*/
    }
}
/*medium devices*/
@media(min-width: 1007px) {
    header {
        display: block;
        text-align: center;
/*        margin-right: auto;
        margin-left: auto;*/
    }
    .wrapper {

    }
    header h1 {
/*        margin-right: auto;*/
        margin-left: auto;
    }
    .logo {
        margin-right: auto;
        margin-left: auto;
        margin-top: 1em;
    }
    .menu {
        margin-top: -15px;
/*        background-color: yellow;*/
    }
    
}

/*first word in header color change*/
@keyframes h1Span {
    0% {
        color: #ffffff;
    }
    50% {
        color: #000000;
    }
    100% {
        color: #ffffff;
    }
}
@keyframes aboutImg {
    from {
        transform:rotate3d(0,1,0,0deg);
    }
    to {
        transform:rotate3d(0,1,0,360deg);
    }
}